/* main css */
.fixed-sidebar {
  position: fixed;
  width: 150px;
  height: 100%;
  top: 1px;
  right: -222px;
  background: #cc3333;
  z-index: 9999;
  transition: all .2s ease-in; }

.open {
  right: 1px; }

.sidebar-toggle {
  position: fixed;
  top: 0px;
  right: 100px;
  cursor: pointer;
  font-size: 2rem;
  color: grey; }

.sidebar-close i {
  padding: 1rem;
  color: #fff; }

.sidebar-menu ul {
  padding-left: 30px; }

.sidebar-menu li {
  list-style: none;
  padding-top: 2rem;
  text-transform: capitalize; }

.sidebar-menu a {
  color: #fff;
  font-weight: 600; }

.homepage {
  padding-bottom: 2rem; }

.homepage-chef-photo img {
  width: 100%; }

.homepage-detail {
  padding-top: 8rem;
  padding: 4rem;
  margin-top: 3rem;
  width: 100%; }
  .homepage-detail h1 {
    font-size: 2rem; }
  .homepage-detail p {
    max-width: 25rem; }

.homepage-social-icon {
  padding-top: 6rem; }

.homepage-social-icon ul li {
  display: inline-block;
  padding-right: 3rem; }

.homepage-social-icon ul li a {
  color: #000; }

/* about us */
.about-us {
  padding-top: 4rem; }

.about-us-detail {
  text-transform: capitalize;
  padding-left: 7rem;
  width: 100%; }
  .about-us-detail p {
    max-width: 30rem; }

.about-us-photo {
  top: 0rem;
  right: 0rem;
  opacity: 0.8; }
  .about-us-photo img {
    width: 100%; }

.about-us-button {
  position: relative;
  right: 0rem;
  top: -30rem;
  font-size: 4rem;
  border-radius: 5rem;
  color: #cc3333;
  height: 6rem;
  width: 6rem;
  line-height: 1;
  background: transparent;
  border: 1px solid #cc3333; }

/* our menu */
.menu {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.menu_wrap {
  padding: 20px; }

.menu-title {
  text-transform: capitalize; }

.menu-title p {
  max-width: 36rem;
  margin: 0 auto; }

.menu-list ul li {
  display: inline-block;
  border: none;
  text-transform: capitalize;
  font-size: 1.2rem;
  line-height: 2; }

.item-price {
  background: #cc3333;
  font-size: 2rem;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  text-align: center;
  line-height: 2.5;
  color: white;
  font-weight: 600;
  position: relative;
  top: 5rem;
  z-index: 5;
  right: -15rem; }

.menu-item {
  width: 33%;
  display: inline-block;
  padding-left: 1rem; }

.item-photo img {
  border-radius: 50%;
  border: 5px solid #f7a26b; }

.item-detail h4 {
  padding-bottom: 1rem; }

/* testimonial */
.testimonial {
  background: #cc3433;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.testimonial-detail {
  text-align: center; }

.testimonial-detail img {
  border-radius: 50%;
  height: 200px;
  width: 200px; }

.testimonial-detail p {
  max-width: 30rem;
  margin: 0 auto; }

/* team */
.team {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.team-title p {
  max-width: 30rem;
  margin: 0 auto; }

.team-member img {
  border-radius: 50%; }

/* contact us */
.contact-us {
  padding-top: 4rem;
  padding-bottom: 1rem; }

.contact-us-title p {
  max-width: 30rem;
  margin: 0 auto; }

.contact-input {
  padding-top: 2rem; }

.contact-input input {
  text-transform: capitalize;
  font-weight: 600;
  background: #80808057;
  border: none;
  outline: 0;
  width: 100%;
  padding: 10px; }

.type-text {
  width: 100%;
  padding: 10px;
  background: #80808057;
  border: none;
  outline: 0;
  text-transform: capitalize; }

.nav-bottom ul {
  padding-top: 4rem; }

.nav-bottom ul li {
  display: inline-block;
  padding-left: 4rem; }

.nav-bottom ul li a {
  text-transform: capitalize;
  font-weight: 600;
  color: #000; }

/* footer */
.footer {
  padding: 10px; }

.footer-author {
  float: left; }

.footer-social-icon ul {
  float: right; }

.footer-social-icon ul li {
  display: inline-block;
  padding-right: 2rem; }

.footer-social-icon ul li a {
  color: #000; }

@media (max-width: 600px) {
  .homepage-detail {
    padding-top: 0rem;
    margin-top: 0rem;
    padding: 1rem; }
  .sidebar-toggle {
    right: 10px; }
  .about-us-detail {
    padding-left: 1rem;
    padding-bottom: 2rem; }
  .footer .footer-author {
    text-align: center;
    width: 100%; }
  .footer .footer-social-icon {
    text-align: center;
    width: 100%;
    padding-right: 4rem; }
  .active {
    margin-bottom: 1rem; }
  .about-us-button {
    position: absolute;
    top: 6rem;
    right: 6rem; }
  .menu-item {
    width: 100%;
    display: inline-block;
    padding-left: 1rem; }
  .nav-bottom ul {
    padding-top: 1rem;
    display: inline-block;
    padding-right: 7rem; } }
